# spring boot with full source code
docker/Multi_Stage_Nodejs_app/Docker-1/target/
docker/Multi_Stage_Nodejs_app/Docker-1/*.jar
docker/Multi_Stage_Nodejs_app/.idea/
docker/Multi_Stage_Nodejs_app/Docker-1/.vscode/
docker/Multi_Stage_Nodejs_app/Docker-1/logs/
docker/Multi_Stage_Nodejs_app/Docker-1/*.log
docker/Multi_Stage_Nodejs_app/Docker-1/.env
docker/Multi_Stage_Nodejs_app/Docker-1/application.properties

# docker spring app
docker/Spring_Boot_with_Java/Docker-1/target/
docker/Spring_Boot_with_Java/Docker-1/*.class
docker/Spring_Boot_with_Java/Docker-1/*.jar
docker/Spring_Boot_with_Java/.idea/
docker/Spring_Boot_with_Java/Docker-1/.vscode/
docker/Spring_Boot_with_Java/Docker-1/logs/
docker/Spring_Boot_with_Java/Docker-1/*.log
docker/Spring_Boot_with_Java/Docker-1/.env
docker/Spring_Boot_with_Java/Docker-1/application.properties

# spring boot with full source code
docker/Spring_Boot_full_source_code_lab3/Docker-1/target/
docker/Spring_Boot_full_source_code_lab3/Docker-1/*.jar
docker/Spring_Boot_full_source_code_lab3/.idea/
docker/Spring_Boot_full_source_code_lab3/Docker-1/.vscode/
docker/Spring_Boot_full_source_code_lab3/Docker-1/logs/
docker/Spring_Boot_full_source_code_lab3/Docker-1/*.log
docker/Spring_Boot_full_source_code_lab3/Docker-1/.env
docker/Spring_Boot_full_source_code_lab3/Docker-1/application.properties

# lab6
docker/lab6/Docker-1/target/
docker/lab6/Docker-1/*.jar
docker/lab6/.idea/
docker/lab6/Docker-1/.vscode/
docker/lab6/Docker-1/logs/
docker/lab6/Docker-1/*.log
docker/lab6/Docker-1/.env
docker/lab6/Docker-1/application.properties

# lab7
docker/lab7/Docker-1/target/
docker/lab7/Docker-1/*.jar
docker/lab7/.idea/
docker/lab7/Docker-1/.vscode/
docker/lab7/Docker-1/logs/
docker/lab7/Docker-1/*.log
docker/lab7/Docker-1/.env
docker/lab7/Docker-1/application.properties


# lab8
docker/lab8/Docker-1/target/
docker/lab8/Docker-1/*.jar
docker/lab8/.idea/
docker/lab8/Docker-1/.vscode/
docker/lab8/Docker-1/logs/
docker/lab8/Docker-1/*.log
docker/lab8/Docker-1/.env
docker/lab8/Docker-1/application.properties

# lab9
docker/lab9/Docker-1/target/
docker/lab9/Docker-1/*.jar
docker/lab9/.idea/
docker/lab9/Docker-1/.vscode/
docker/lab9/Docker-1/logs/
docker/lab9/Docker-1/*.log
docker/lab9/Docker-1/.env
docker/lab9/Docker-1/application.properties